                <div class="sub-sec">
                    <div class="sec-list">
                        <div class="copy">
                            <span class="animated infinite rubberBand">
                                <span class="icon-emo-happy"></span>
                            </span>
                        </div>
                        <% if (page == 'search') { %>
                        <div class="info"></div>
                        <% } else { %>
                        <div class="info"></div>
                        <% } %>
                        <div class="lang">
                            <select>
                                <option>English</option>
                            </select>
                        </div>
                    </div>
                </div>
