            <div class="speech-search-wrapper animated fast">
                <span class="close">
                    <span class="icon-cancel-1"></span>
                </span>
                <div class="speech-box">
                    <div class="speech-text">
                        <span class="text"></span>
                    </div>
                    <div class="speech-icon animated infinite">
                        <span class="icon-mic-1"></span>
                    </div>
                </div>
            </div>
