<!doctype html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body>
        <div class="saas-container">
            <div class="pg-sec hdr"></div>
            <div class="pg-sec con text-search-wrapper">
                <% include partials/search_box %>
            </div>
            <div class="pg-sec ftr">
                <%- include('partials/ftr', {page: 'index'}); %>
            </div>
            <% include partials/speech_box %>
        </div>
        <% include partials/common_scripts %>
    </body>
</html>
