
.icon-mic-outline:before { content: '\e800'; } /* '' */
.icon-mic-1:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-search-1:before { content: '\e803'; } /* '' */
.icon-search-3:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-plus-1:before { content: '\e806'; } /* '' */
.icon-plus-2:before { content: '\e807'; } /* '' */
.icon-minus:before { content: '\e808'; } /* '' */
.icon-minus-1:before { content: '\e809'; } /* '' */
.icon-minus-2:before { content: '\e80a'; } /* '' */
.icon-down-open:before { content: '\e80b'; } /* '' */
.icon-left-open:before { content: '\e80c'; } /* '' */
.icon-right-open:before { content: '\e80d'; } /* '' */
.icon-up-open:before { content: '\e80e'; } /* '' */
.icon-down-open-big:before { content: '\e80f'; } /* '' */
.icon-left-open-big:before { content: '\e810'; } /* '' */
.icon-right-open-big:before { content: '\e811'; } /* '' */
.icon-up-open-big:before { content: '\e812'; } /* '' */
.icon-emo-happy:before { content: '\e813'; } /* '' */
.icon-emo-unhappy:before { content: '\e814'; } /* '' */
.icon-commerical-building:before { content: '\e815'; } /* '' */
.icon-aboveground-rail:before { content: '\e816'; } /* '' */
.icon-belowground-rail:before { content: '\e817'; } /* '' */
.icon-flight:before { content: '\e818'; } /* '' */
.icon-plane:before { content: '\e819'; } /* '' */
.icon-paper-plane:before { content: '\e81a'; } /* '' */
.icon-flight-1:before { content: '\e81b'; } /* '' */
.icon-flight-2:before { content: '\e81c'; } /* '' */
.icon-language-1:before { content: '\e81d'; } /* '' */
.icon-cogs:before { content: '\e81e'; } /* '' */
.icon-cog:before { content: '\e81f'; } /* '' */
.icon-cog-alt:before { content: '\e820'; } /* '' */
.icon-down-open-2:before { content: '\e821'; } /* '' */
.icon-left-open-2:before { content: '\e822'; } /* '' */
.icon-right-open-2:before { content: '\e823'; } /* '' */
.icon-lodging:before { content: '\e824'; } /* '' */
.icon-up-open-2:before { content: '\e825'; } /* '' */
.icon-cancel:before { content: '\e826'; } /* '' */
.icon-cancel-1:before { content: '\e827'; } /* '' */
.icon-cancel-2:before { content: '\e828'; } /* '' */
.icon-cancel-3:before { content: '\e829'; } /* '' */
.icon-cancel-4:before { content: '\e82a'; } /* '' */
.icon-rail:before { content: '\e82e'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-down-open-1:before { content: '\f004'; } /* '' */
.icon-up-open-1:before { content: '\f005'; } /* '' */
.icon-right-open-1:before { content: '\f006'; } /* '' */
.icon-left-open-1:before { content: '\f007'; } /* '' */
.icon-mic-off:before { content: '\f047'; } /* '' */
.icon-mic:before { content: '\f048'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-fighter-jet:before { content: '\f0fb'; } /* '' */
.icon-mic-2:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-paper-plane-1:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-ship:before { content: '\f21a'; } /* '' */
.icon-bed:before { content: '\f236'; } /* '' */
.icon-search-2:before { content: '\f50d'; } /* '' */